<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/userUpdate.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form action="/edit-user" method="post">
        <input type="hidden" value="<%=user.id%>" name="userId">
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="fname"
              name="firstName"
              placeholder="Your name.."
              value="<%=user.firstName%>"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Last Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="lname"
              name="lastName"
              placeholder="Your last name.."
              value="<%=user.lastName%>"
            />
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="email">Email</label>
            </div>
            <div class="col-75">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Your email.."
                value="<%=user.email%>"
              />
            </div>
          </div>
        <div class="row">
          <div class="col-25">
            <label for="address">Address</label>
          </div>
          <div class="col-75">
            <select id="address" name="address" value="<%=user.address%>">
              <option value="Ha Noi">Hà Nội</option>
              <option value="Hai Phong">Hải Phòng</option>
              <option value="Ho Chi Minh">Hồ Chí Minh</option>
            </select>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="gender">Gender</label>
            </div>
            <div class="col-75">
              <select id="gender" name="gender" value="<%=user.gender%>">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
        </div>
        <div class="row">
          <button type="submit">Edit User</button>
        </div>
      </form>
    </div>
  </body>
</html>
